.Card {
  lost-waffle: 1/4 4 var(--gutter);

  display: flex;
  flex-flow: column;
}

.Card-display {
}

.Card-display-image {
  width: 100%;
  height: 100%;
}

.Card-controls {
  display: flex;
  flex-wrap: wrap;
}

.Card-controls-item {
  flex-grow: 1;
}
