@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --gutter: 30px;
}

html, body, #root, #container {
  height: 100%;
  margin: 0;
  background-color: #202020;
  font-family: 'Open Sans', sans-serif;
}

#container {
  padding: var(--gutter);
}
