.Button {
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  border: var(--border);
  background: var(--backdrop);
  font-family: 'Open Sans', sans-serif;
}

.Button:hover {
  border: 1px solid var(--highlight);
}
